<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lol.cicco.admin.mapper.AdminMapper">

	<sql id="findColumns">
		id, user_name, real_name, password, create_time, status, role_id
	</sql>


	<insert id="add" parameterType="lol.cicco.admin.entity.AdminEntity">
		insert into a_admin(id,user_name,password,real_name,create_time,status,role_id)
		values (#{id},#{userName},#{password},#{realName},#{createTime},#{status},#{roleId})
	</insert>

	<update id="update" parameterType="lol.cicco.admin.entity.AdminEntity">
		update a_admin
		<set>
			user_name = #{userName},
			real_name = #{realName},
			role_id = #{roleId},
			<if test="password != null">
				password = #{password}
			</if>
		</set>
		where id = #{id}
	</update>

	<select id="findByUserName" resultType="lol.cicco.admin.entity.AdminEntity">
		select <include refid="findColumns" /> from a_admin where user_name = #{userName} limit 1
	</select>

	<select id="findOne" resultType="lol.cicco.admin.entity.AdminEntity">
		select <include refid="findColumns" /> from a_admin where id = #{id} limit 1
	</select>

	<select id="findAdminList" resultType="lol.cicco.admin.entity.AdminEntity">
		select <include refid="findColumns" /> from a_admin
		<where>
			<if test="userName != null">
				user_name like #{userName}
			</if>
		</where>
		order by create_time desc
		limit #{size} offset #{start}
	</select>

	<select id="findAdminCount" resultType="int">
		select count(1) from a_admin
		<where>
			<if test="userName != null">
				user_name like #{userName}
			</if>
		</where>
	</select>

	<update id="updateStatus">
		update a_admin set status = #{status} where id = #{id}
	</update>

	<delete id="remove">
		delete from a_admin where id = #{id}
	</delete>

	<select id="checkRole" resultType="lol.cicco.admin.entity.AdminEntity">
		select <include refid="findColumns" /> from a_admin where role_id = #{roleId} limit 1
	</select>
</mapper>