<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lol.cicco.admin.mapper.MenuMapper">

	<sql id="findColumns">
		id, menu_name, menu_url, icon, sort_by, create_time, menu_type, parent_id, permission
	</sql>

	<insert id="add" parameterType="lol.cicco.admin.entity.MenuEntity">
		insert into a_menu(id, menu_name, menu_url, icon, sort_by, create_time, menu_type, parent_id, permission)
		values (#{id},#{menuName}, #{menuUrl}, #{icon}, #{sortBy}, #{createTime},#{menuType},#{parentId},#{permission})
	</insert>

	<update id="update" parameterType="lol.cicco.admin.entity.MenuEntity">
		update a_menu
		<set>
			menu_name = #{menuName},
			menu_url = #{menuUrl},
			icon = #{icon},
			sort_by = #{sortBy},
			menu_type = #{menuType},
			permission = #{permission}
		</set>
		where id = #{id}
	</update>

	<select id="findList" resultType="lol.cicco.admin.entity.MenuEntity">
		select <include refid="findColumns" />
		from a_menu
	</select>

	<select id="findByIds" resultType="lol.cicco.admin.entity.MenuEntity">
		select <include refid="findColumns" />
		from a_menu
		where id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findById" resultType="lol.cicco.admin.entity.MenuEntity">
		select <include refid="findColumns" />
		from a_menu where id = #{id} limit 1
	</select>

	<select id="findByParentId" resultType="lol.cicco.admin.entity.MenuEntity">
		select <include refid="findColumns" />
		from a_menu where parent_id = #{id}
	</select>

	<delete id="removeById">
		delete from a_menu where id = #{id}
	</delete>

</mapper>